.tna-footer {
  background-color: $color__grey-light;
  color: $color__black;

  &__subscribe {
    background-color: $color__grey-light;
    color: $color__black;
  }

  &__content {
    background-color: $color__black;
    color: $color__white;

    a {
      color: $color__white;
    }
  }

  &__social-media-links {
    font-size: 2rem
  }
}
